<h1>AccessDenied</h1>

<a asp-controller="Admin" asp-action="Index">Admin</a>
<a asp-controller="Admin" asp-action="Administrator">Home</a>
<a asp-controller="Admin" asp-action="Manager">Home</a>

<p>
    IsAuthenticated : @ViewBag.IsAuthenticated
</p>

<p>
    Name : @ViewBag.Name
</p>